{% extends 'base.html' %}
{% block content %}
<article>
<h1>API</h1>
<h2>Access</h2>
<p>It is free to access certain endpoints of the API.
Without access key you can request recipes, ingridients and feedback endpoints.
If you decide to use full access, you have to request an <a href="/api/login.html">access key</a>.
Using this key, you can add feedback to the website and individual recipes. To access user information and make changes to the website you must have a token with admin priveleges set.
</p>
<h2>Base endpoint and example</h2>
<p>You can use the following endpoints:<br>
<ul>
<li><a href ="https://ultcookbook.herokuapp.com/api/recipe">https://ultcookbook.herokuapp.com/api/recipe(/id:optional)</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/ingridients">https://ultcookbook.herokuapp.com/api/ingridients(/id:optional)</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/register">https://ultcookbook.herokuapp.com/api/register</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/login">https://ultcookbook.herokuapp.com/api/login</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/users">https://ultcookbook.herokuapp.com/api/users(/id:optional)</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/feedback">https://ultcookbook.herokuapp.com/api/feedback/</a></li>
<li><a href ="https://ultcookbook.herokuapp.com/api/recipe/feedback">https://ultcookbook.herokuapp.com/api/recipe/feedback(/id:optional)</a></li>
</ul>
Form-data and json requests are accepted. Access token required for most POST requests.
    </p>
<h2>Response</h2>
<p>The output of the API uses the JSON format.</p>
</article>
{% endblock %}