<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ultimate Cookbook</title>
    <link href="/static/favicon.ico" rel="icon">
</head>
<header style="text-align:center; background-color:powderblue; font-size: 35px">
WELCOME TO THE ULTIMATE COOKBOOK WEBSITE<br>
    {% if info %}
    <small>Hello dear guest from {{ info.city }}. It is a pleasure to have someone from
                  {{ info.country }} {{ info.flag }} visiting our beautiful webpage.</small>
    {% endif %}
</header>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-color: black
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% if not user %}
<nav style="width:100%; font-size: 40px; font-style: italic; background-color: lightgray;">
    <a href="/index.html" title="Go to the Main Page">Main Page</a>
    <a href="/recepies.html" title="Go to see only recepies">Recepies</a>
    <a href="/ingridients.html" title="Go to see all the ingridients">Ingridients</a>
    <a href="/search.html" title="Go to Search Recipe or Ingridient">Search</a>
    <a href="/gallery.html" title="Go to the Photo Gallery">Gallery</a>
    <a href="/feedback.html" title="Leave some feedback">Feedback</a>
    <a href="/register.html" title="Register here">Register</a>
    <a href="/login.html" title="Login here">Login</a>
    <a href="/api.html" title="Use API">API</a>
    </nav>
    {% else %}
<nav style="width:100%; font-size: 40px; font-style: italic; background-color: yellow;">
    <a href="/index.html" title="Go to the Main Page">Hello, {{ user }}</a>
    <a href="/recepies.html" title="Go to see only recepies">Recepies</a>
    <a href="/ingridients.html" title="Go to see all the ingridients">Ingridients</a>
    <a href="/search.html" title="Go to Search Recipe or Ingridient">Search</a>
    <a href="/gallery.html" title="Go to the Photo Gallery">Gallery</a>
    <a href="/feedback.html" title="Leave some feedback">Feedback</a>
    <a href="/profile.html" title="View your profile">User Profile</a>
    <a href="/login.html" title="Login here">Logout</a>
    <a href="/api.html" title="Use API">API</a>
</nav>
    {% endif %}

<body>
<h3 style="color: red">
{% for message in get_flashed_messages() %}
  {{ message }}
  {% endfor %}
</h3>
{% block content %} {% endblock %}
    {% if visits %}
<footer>
    <b style="color: green">So far {{ visits }} unique visitors has been to this website!</b>
</footer>
    {% endif %}
</body>
</html>