{% extends 'base.html' %}
{% block content%}
<article class="welcome">
    <h2>Welcome to the Ultimate CookBook</h2>
<p>Go on a journey around thirty world cuisines, and try over 150 world-renowned recipes with this cook book.
    Use the <a href="/recepies.html">recipes</a> tab to view the list of all available recipes.
    <a href="/ingridients.html">Ingredients</a> tab will help you find all recipes that can be made with given ingredient.
    Use <a href="/search.html">search</a> bar to look for recipes or ingredients.
    <a href="/gallery.html">Gallery</a> will show you all recipes pictures in one place.
    You may leave your feedback under each recipe if you are <a href="/register.html">registered</a>, or you can leave general <a href="/feedback.html">feedback</a> to the website anonymously.
    There is also <a href="/api.html">API</a> available.
</p>
</article>
<table>
    <tr>
        <th>Recipe</th>
        <th>Ingridients</th>
    </tr>
{% for key, val in data.items() %}
    <tr>
        <td><a href="/recipe/{{key.replace(' ', '_')}}">{{ key.title() }}</a></td>
        <td>
        {% for ingridient in val %}
        <a href="/search/{{ingridient.strip().replace(' ', '_')}}">{{ ingridient.strip().title() }}</a>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock%}
