{% extends 'base.html' %}
{% block content%}
<article>
    <h1>
        {{ title }}
    </h1>
<aside>
  <img src="{{ url_for('static', filename=image) }}">
</aside>
  <p>{{ recipe }}</p>
</article>

<article>
{% if user %}
    <h2>Leave your feedback in the form below</h2>
<form action="/recipe/{{ pname }}" method="post">
  <input type="hidden" name="fname" value="{{ user }}"><br>
  <label for="msg">Enter message and it will be displayed on site:</label><br>
  <textarea id="msg" name="messg" rows="10" cols="100%" placeholder="Some text here" required></textarea><br><br>
  <input type="submit" value="Submit">
</form>
    {% else %}
    <h2 style="color: blue">Please <a href="{{ url_for('register') }}">register</a> or <a href="{{ url_for('login') }}">login</a> to leave a comment</h2>
    {% endif %}
<h2>Previous Feedback for {{ title }}:</h2>
{% if comments is string %}
{{ comments }}
{% elif comments is sequence %}
{% for entry in comments %}
    <p>{{ entry[0] }} said on <small>{{ entry[2] }}</small>:<br> {{ entry[1] }} </p>
{% endfor %}
{% else %}
<h3>Something strange has happened</h3>
{% endif %}
</article>
{% endblock %}
